<div class="container">
    <header>
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1>AI GymBot</h1>
        </a>
    </header>  
    <div class="log">
        <a href="/logout">Logout</a>
    </div>
    <div class="chatlayout">
        <div class="chat-container">
            <div id="chatbox" class="chatbox">
            </div>
            <form id="aiForm" class="chat-form">
                <input type="text" id="prompt" name="prompt" placeholder="Type your message here..." autocomplete="off">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
     <a href="/">Back to Home</a>
        <script src="/javascripts/formHandler.js"></script>
</div>