<h1>Create New Goal</h1>
<form action="/goals/create" method="post">
    <div>
        <label for="description">Goal Description:</label>
        <input type="text" id="description" name="description" required>
    </div>
    <div>
        <label for="targetDate">Target Date:</label>
        <input type="text" id="targetDate" name="targetDate" required>
    </div>
    <div>
        <button type="submit">Add Goal</button>
    </div>
</form>
