<div class="container">
    <header>
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1>LEVELING UP</h1>
        </a>
    </header>
    <div class="log">
        <a href="/logout">Logout</a>
    </div>
    <div class="center">
        <form action="/goals/create" method="post">
            <div>
                <label for="description">Goal Description:</label>
                <input type="text" id="description" name="description" required>
            </div>
            <div>
                <label for="targetDate">Target Date:</label>
                <input type="text" id="targetDate" name="targetDate" required>
            </div>
            <div>
                <button type="submit">Add Goal</button>
            </div>
        </form>
    </div>
</div>
