<div class="container">
    <header>
        <h1>LEVELING UP</h1>
    </header>
    <main>
        <section class="greeting">
            <p>Good Evening, {{name}}</p>
            <p>{{date}}</p>
        </section>
        <section class="content">
            <div class="routines">
                <a href="/routines">ROUTINES</a>
            </div>
            <div class="goals">
                <a href="/goals">GOALS</a>
            </div>
        </section>
    </main>
</div>
