<body>
     <div class="container">
        <header>
             <a href="/" style="text-decoration: none; color: inherit;">
                <img class="logo" src="/images/logo.png" alt="Logo">
                <h1>LEVELING UP</h1>
            </a>
        </header>
    </div>
    <div class="login-container">
        <h2>Login</h2>
        {{#if messages.error}}
            <div class="alert alert-danger">
                {{messages.error}}
            </div>
        {{/if}}
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </div>
</body>