body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}
  
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
  
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.login-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.log a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 2px;
    right: 155px;
}

.log a:hover {
    background-color: #0056b3;
}

.auth-link-1 {
    margin-right: 70px; 
}

.auth-link-2 {
    margin-right: 10px; 
}

.register-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.password-requirements {
    margin-top: 10px;
    color: #666;
    font-size: 0.9em;
  }
  
.password-requirements strong {
    color: #333;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
  
.greeting p, .content h2 {
    text-align: center;
    padding: 10px 0;
}
  
section {
    margin-bottom: 20px;
}
  
.routines, .goals {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
}
  
.routines a, .goals a {
    border-bottom: 2px solid #333;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 40%;
    font-size: larger;
}

.routines a:link, .routines a:visited,
.goals a:link, .goals a:visited {
    text-decoration: none; 
    color: black; 
} 

.removeExercise {
    margin-top: 10px;
    color: #fff;
    background-color: #f44336;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.date-red {
    color: red;
    font-size: smaller;
}

.completed {
    text-decoration: line-through;
}

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.alert-danger {
    background-color: #f44336;
}
  
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
@media (max-width: 600px) {
    .content {
      grid-template-columns: 1fr;
    }
    .container {
      width: 95%;
    }
}
  